# Ignore Gradle project-specific cache directory
.gradle/
!gradle.properties

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin

# Metadados VSCode / IntelliJ
.vscode
.idea

# Java
*.class


