# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin

# Metadados VSCode / IntelliJ
.vscode
.idea

# Ignore Gradle project-specific cache directory
.gradle


