.font-size-36 {
    -fx-font-size: 36;
}

.font-size-24 {
    -fx-font-size: 24;
}

.font-size-18 {
    -fx-font-size: 18;
}

.font-size-13 {
    -fx-font-size: 13;
}

.header-1 {
    -fx-font-family: "Manrope ExtraBold";
    -fx-text-fill: #1d1d1f;
    -fx-font-size: 36;
}

.header-2 {
    -fx-font-family: "Manrope Bold";
    -fx-text-fill: #1d1d1f;
    -fx-font-size: 24;
}

.header-3 {
    -fx-text-fill: #1d1d1f;
    -fx-font-size: 18;
}

.regurlar-text {
    -fx-font-family: "Manrope Regular";
    -fx-text-fill: #1d1d1f;
    -fx-font-size: 16;
}

.exit-button {
    -fx-text-fill: white;
    -fx-font-family: "Manrope SemiBold";
    -background-radius: 12;
    -fx-effect: dropshadow(
        gaussian,
        rgba(0,0,0,0.5),
        8,
        0,
        0,
        2
    );
    -fx-cursor: hand;
    -fx-font-size: 16;
}

.white-text {
    -fx-text-fill: white;
}
